body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.container {
  width: 640px;
  margin: 0 auto;
}

h1 {
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

ul > li {
  padding: 3px 0;
}

header {
  text-align: center;
  background: skyblue;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

footer {
  text-align: right;
  padding-right: 10px;
  color: #888;
  font-size: 11px;
}

.headlink {
  font-size: 12px;
  font-weight: normal;
  float: right;
}

.input {
  overflow: hidden;
  font-size: 14px;
  padding-bottom: 10px;
}

.input label {
  width: 100px;
  float: left;
}

.input input, .input textarea {
  float: left;
  width: 250px;
  padding: 3px;
}

button {
  margin-left: 100px;
  width: 80px;
  padding: 5px;
}

.error {
    display: table;
}

.error-message {
    margin-left: 100px;
    color: red;
}

.delete {
  font-size: 12px;
  color: red;
}

/* 追加 */
.required label:after {
  color: red;
  content: '*';
}